body{
    background-color: lightblue;
}

.card{
    background-color: whitesmoke;
    color: black;
    background-image: url("Assests/bg-img.png");
    background-size: cover;
}

.hamburger {
    font-size: 2rem;
    transition: all 0.3s ease;
    width: 5vh;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 40%;
    cursor: pointer;
}

.hamburger:hover {
    transform: scale(1.2);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.05);
}

.temp{
    text-align: center;
    margin-top: 1.5rem;    
    font-size: 55px;
}

.temp2{
    text-align: center;
}